.container {
  background: white;
  padding: 24px;
}

.my_editor {
  min-height: calc(100vh - 150px) !important;
}

.dropdown_select {
  width: 35%;
  margin-right: 5%;
  margin-bottom: 20px;
}

.submit_btn {
  max-width: 20%;
  min-width: 10%;
  float: right;
}