.container {
  margin: 10px;
}

.card {
  width: 90%;
  margin: 5%;
  cursor: default;
}

.card_clickable {
  cursor: pointer;
}

.formItem {
  margin-left: 2px;
  margin-right: 2px;
  margin-bottom: 20px;
}
