.container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.left_container {
  flex: 1;
  min-width: 150px;
  padding-right: 36pt;
}

.left_container > span > div {
  height: auto !important;
}

.right_container {
  flex: 1;
}

.test_header {
  margin-bottom: 12px;
  color: black;
}